
.flex-container {
    display: flex;
    flex-direction: row;
}
.flex-left {
    width: 20%;
    height: 100vh;
    background: #161616;
}

.flex-right {
    width: 80%;
    background-image: url("/src/assets/water.jpeg");
    background-size: cover; /* or contain depending on what you want */
  background-position: center center;
  background-repeat: no-repeat;
    
}
.flex-card{
    padding-top: 20vh;
    display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;

}
@media all and (max-width: 500px) {
    .flex-card,.flex-container{
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  